
*.vsidx
*.db
*.db-wal
*.opendb
*.ipch
*.db-shm
*.vcxproj
*.filters
*.user
*.recipe
*.log
*.obj
*.lock
build/.vs/Casino/v17/.suo
*.ilk
*.tlog
*.cmake
*.rule
*.bin
*.check_cache
*.pdb
*.list
*.stamp
*.depend
